

*{
   margin: 0;
   padding: 0;
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('./Assets/Fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-light';
  src: url('./Assets/Fonts/Poppins/Poppins-Light.ttf');
}


@font-face {
  font-family: 'Poppins-black';
  src: url('./Assets/Fonts/Poppins/Poppins-Black.ttf');
}

.body_top{
  
  
  height: 866px;
  background: url('./Assets/Images/Hero/Background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}